/***************TAG SELECTORS************/
h1 {
  font-size: 60PX;
  color: red;
  font-style: italic;
}


img {
  background-color: red;
}

/***************CLASS SELECTORS***********/

.bacon {
  background-color: green;
}

.broccoli {
  background-color: red;
}

/**************ID SELECTORS*************/
#heading {
  color: blue;
}
